
///////////////////////////////////////////////////////////
//
//  Nav
//
///////////////////////////////////////////////////////////

.nav {
  height: 80px;
  background-color: $nav-color;
  @include media($mobile) {
    height: 60px;
  }  

  .container {
    padding: 0;
  }

  .logo svg {
    width: 165px;
    height: 40px;
    float: left;
    margin-top: 17px;
    @include media($mobile) {
      margin-top: 10px;
    }
  }

  .logo-color {
    fill: $cta-color;
  }

  .dropdown-menu {
    float: right;
    cursor: pointer;
    position: relative;
    color: $contrast-color;
    border-bottom: 2px solid $contrast-color;
    padding: 4px 8px;
    margin-top: 19px;
    font-weight: 600;
    @include media($mobile) {
      margin-top: 9px;
    }

    &:hover .dropdown {
      display: block;
    }

   .dropdown { // dropdown
      display: none;
      right: 0px;
      width: 287px;
      position: absolute;
      color: white;
      background-color: $nav-color;
      border-radius: $radius *2;
      padding: 8px;
      @include transition (all 0.2s ease-in-out);

      .button {
        padding: 13px 20px;
        display: inline;

        span {
          color: transparentize(white, 0.5);
        }
        
        &.left {
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
          @include button-mixin(#3b599b);
          float: left;
          margin-right: -3px;
        }
        &.right {
          border-top-right-radius: $radius;
          border-bottom-right-radius: $radius;
          @include button-mixin(#127eb4);
        }
      }
      }
    }
}

///////////////////////////////////////////////////////////
//
//  Hero
//
///////////////////////////////////////////////////////////

.hero {
  @include linear-gradient(transparentize($contrast-color, 1), $contrast-color);
  background-image: url(../images/hero3.png);
  background-size: 1750px 600px;
  background-color: $contrast-color;
  height: 500px;
  @include media($tablet) {
    height: 380px;
  }
  @include media($mobile) {
    height: 380px;
  }


  h2 {
    @extend %hero-text;
    font-family: $body-font;
    text-align: center;
    color: master-color($body-color);
    margin-top: 70px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 45px;
    @include media($tablet) {
      margin-top: 20px;
      font-size: 35px;
    }
    @include media($mobile) {
      margin-top: 20px;
      font-size: 35px;
    }
  }

  hr {
    width: 240px;
    height: 3px;
    margin: auto;
  }

  h3 {
    @extend %hero-text;
    width: 50%;
    letter-spacing: 1px;
    margin: auto;
    font-family: $hero-font;
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    color: master-color($body-color);
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    @include media($tablet) {
      font-size: 18px;
      line-height: 29px;
      width: 100%;
    }
    @include media($mobile) {
      font-size: 18px;
      line-height: 25px;
      width: 100%;
    }
  }
}
