@charset "utf-8";

@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base/base";
@import "icons";
@import "nav-hero";

///////////////////////////////////////////////////////////

html, body {
 height: 100%;
}

::selection {
  background: lighten(desaturate($cta-color, 30), 40); /* Safari */
  }
::-moz-selection {
  background: lighten(desaturate($cta-color, 30), 40); /* Firefox */
}

.sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -250px;
}

.footer, .push {
  height: 250px;
}

///////////////////////////////////////////////////////////

.container { // not a visible element. Just for sizing
  @include outer-container;
  padding: $space*2 0;
  margin: auto;
  @include media($desktop-narrow) {
    margin: 0 $space;
    // padding: $space 0;
  }
  @include media($mobile) {
    margin: 0 $space/3;
    padding: $space 0;
  }
}

///////////////////////////////////////////////////////////
//
//  Main
//
///////////////////////////////////////////////////////////

.container.main {
  padding: $space 0;
}

.signup {
  padding: $space /4;
  background-color: white;
  border-radius: $radius *2;
  z-index: 99;
  margin: auto;
  width: 50%;
  margin-top: -35px;
  @include media($tablet) {
    width: 70%;
  }
  @include media($mobile) {
    width: 100%;
    border-radius: 0;
  }

  input {
    width: 70%;
    float: left;
  }
  button {
    @include button-mixin($cta-color);
    padding: 17px 20px;
    width: 30%;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    @include media($mobile) {
      padding: 17px 10px;

    }
  }
}

h2.intro-heading {
  text-align: center;
  font-size: 30px;
}

.icon {
  float: left;
  margin-right: 10px;
}

.icon-container {
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background-color: $cta-color;
  border-radius: 30px;
}
.icon-container * {
  vertical-align: middle;
}

.bullets {
  // @include outer-container;

  .bullet-point {
    @include span-columns(3);
    padding-top: 20px;
    margin-bottom: $space;
    @include media($tablet) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media($mobile) {
      @include span-columns(12);
    }

    h3 {
      margin-top: 5px;
      margin-bottom: 24px;
    }

    p {
      @include media($tablet) {
        margin-bottom: ($base-line-height /2);
      }
      @include media($mobile) {
        margin-bottom: ($base-line-height /2);
      }
    }

    i {
      font-size: 18px;
      color: white;
      text-align: center;
    }
  }
}

///////////////////////////////////////////////////////////
//
//  Footer
//
///////////////////////////////////////////////////////////


.footer .container {
  background-color: $footer-color;
  padding: $space;
  border-bottom: 5px solid $cta-color;
  font-weight: 500;

  ul {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }

    i {
      color: $cta-color;
      margin-right: 10px;
    }

    .logo svg {
      width: 110px;
      height: 20px;
    }

  }
}

///////////////////////////////////////////////////////////
//
//  Text pages
//
///////////////////////////////////////////////////////////

.column {
  @include span-columns(4);
  @include omega(3n);
  @include media($tablet) {
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($mobile) {
    @include span-columns(12);
  }
}







