@charset "utf-8";

@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base/base";
@import "icons";

///////////////////////////////////////////////////////////

html, body {
 height: 100%;
}

.sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -400px;
}

.footer, .push {
  height: 400px;
}

///////////////////////////////////////////////////////////

.container { // not a visible element. Just for sizing
  @include outer-container;
  padding: $space*2 0;
  margin: auto;
}

///////////////////////////////////////////////////////////

.nav {
  height: 80px;
  background-color: $nav-color;

  .container {
    padding: 0;
  }

  h1 img {
    // margin-top: 20px;
    // max-width: 10%;
    margin-top: 13px;
    max-width: 15%;
    float: left;
  }

  .login {
    float: right;
    margin-top: 15px;
    p {
      display: inline;
    }
    .button {
      @include button-mixin(gray);
    }
  }
}

///////////////////////////////////////////////////////////

.hero-wrap {
  background-color: red;
}

.hero {
  background: url(/images/hero.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-color: $contrast-color;
  height: 550px;
  width: 100%;
  
  color: black;
  min-height: 400px;

  img {
    // background-color: $hero-background;
    // left: 0;
    // height: auto;
    // width: 100%;
    // opacity: 0.5;
  }

  h2 {
    font-family: 'Vollkorn', serif;
    text-align: center;
    color: master-color(white);
    // font-family: georgia;
    font-style: italic;
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 55px;
    // display: inline-block;
    // background-color: master-color(black);
    // text-align: center;
    // padding: 10px 20px;
  }

  hr {
    width: 140px;
    margin: auto;
  }

  h3 {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: master-color(white);
    font-weight: normal;
    font-size: 20px;
  }
}

///////////////////////////////////////////////////////////


.signup {
  padding: $space /4;
  background-color: white;
  border-radius: $radius *2;
  z-index: 99;
  margin: auto;
  width: 50%;
  margin-top: -35px;
  input {
    width: 70%;
    float: left;
  }
  button {
    @include button-mixin($cta-color);
    width: 30%;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.intro-heading {
  text-align: center;
  font-size: 30px;
}


.icon {
  float: left;
  margin-right: 10px;
}

.icon-container {
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background-color: $base-font-color;
  border-radius: 30px;
}
.icon-container * {
  vertical-align: middle;
}

.bullets {
  @include outer-container;

  .bullet-point {
    @include span-columns(6);
    @include omega;
    padding-top: 20px;
    margin-bottom: $space;
    @include media(769px) {
      @include span-columns(3);
    }


    i {
      font-size: 18px;
      // padding-right: 2px;
      // margin-bottom: $space/2;
      // float: left;
      color: white;
      text-align: center;
    }
  }
}


///////////////////////////////////////////////////////////


.footer .container {
  background-color: $footer-color;
  padding: $space;
  ul {
    @include span-columns(4);
  }
}
