%flash {
  padding: $base-line-height / 2;
  font-weight: bold;
  text-align: center;
}

.error, #flash_failure {
  @extend %flash;
  display: none;
  background: $error-color;
  color: lighten($error-color, 60);

  a {
    color: darken($error-color, 70);

    &:hover {
      color: darken($error-color, 90);
    }
  }
}
