// Typography
///////////////////////////////////////////////////////////////////////////////
$body-font: 'PT Sans', sans-serif;
$contrast-font: 'Roboto Slab', serif;
$hero-font: 'Merriweather', serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$space: $base-font-size *2;
$radius: 3px;

// Colors
///////////////////////////////////////////////////////////////////////////////

// Main colors
$body-color: #F1F1EA;
$nav-color: $body-color;
$hero-background: whitesmoke;
$button-color: gray;
$footer-color: whitesmoke;

$main-cta-color: #37c4a3;
$cta-color: #0C9EC2;
$contrast-color: #537280;

//  Font Colors
$base-font-color: #555;

//  Text Link Colors
$base-link-color: $cta-color;
$hover-link-color: darken($cta-color, 5);

// Border color
$base-border-color: #BBB;

// Flash Colors
$error-color: #D8696E;

// Media
///////////////////////////////////////////////////////////////////////////////

$mobile-width: 500px;
$tablet-width: 800px;
$desktop-narrow-width: 1240px;

$mobile: new-breakpoint(max-width $mobile-width);
$tablet: new-breakpoint(max-width $tablet-width);
$desktop-narrow: new-breakpoint(max-width $desktop-narrow-width);

