@function master-color($bg-color, $percentage: 100) {
  $mix-color: teal; // Color to mix into $bg-color if "mix" is used.
  $mix-weight: 70%; // Percetage of main color compared to mix-color.
  $color-lightness: lightness($bg-color); // The lightness value (0-100) for $bg-color.
  $color-darkness: 100 - $color-lightness; // The darkness value (0-100) for $bg-color.
  $effect-color: $bg-color;
 
// EFFECTS. Comment out any unused master effects or add new ones.
  // $effect-color: lighten($effect-color, 30); // Lightens the color.
  // $effect-color: saturate($effect-color, 40); // Saturates the color.
  // $effect-color: adjust-hue($effect-color, 10); // Shifts the hue. The darker it is, the more the hue will shift.
  // $effect-color: mix($effect-color, $mix-color, $mix-weight);
  // $bg-color: grayscale($effect-color);
  $bg-color: mix($effect-color, $bg-color, $percentage); 
  @return $bg-color;
} 

@mixin master-color-invert-text($bg-color, $lightness-threshold: 50) {
// $lightness-threshold — Threshold for when a background is too light to have light text on it.
 
  $master-color: master-color($bg-color);
  background-color: $master-color; // Applies the effects to the background.
  $color: lighten($master-color, 70); // Makes the font-color lighter than the background by default.
  text-shadow: 0 1px 1px darken($master-color, 20); // Adds a shadow on light fonts.    
  @if lightness($master-color) > $lightness-threshold {
    $color: darken($master-color, 40); // Makes the font-color dark if background is lighter than the threshold. 
    text-shadow: 0 1px 1px lighten($master-color, 10); // Adds an inset highlight on dark fonts.  
  }

  color: $color; // Applies color to font.
}

// Typography
///////////////////////////////////////////////////////////////////////////////
$body-font: 'PT Sans', sans-serif;
$contrast-font: 'Roboto Slab', serif;
$hero-font: 'Vollkorn', serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

$space: $base-font-size *2;

$radius: 3px;

// Colors
///////////////////////////////////////////////////////////////////////////////

// Main colors
$body-color: master-color(#F1F1EA);
$nav-color: $body-color;
$hero-background: master-color(whitesmoke);
$button-color: master-color(gray);
$footer-color: master-color(whitesmoke);
$cta-color: master-color(#0C9EC2);//(#00B465);
$contrast-color: master-color(#537280);


$blue: master-color(#477DCA);
$dark-gray: master-color(#333);
$medium-gray: master-color(#999);
$light-gray: master-color(#CCC);
$light-red: master-color(#FBE3E4);
$light-yellow: master-color(#FFF6BF);
$light-green: master-color(#E6EFC2);

//  Font Colors
$base-font-color: master-color(#555);
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $cta-color;
$hover-link-color: darken($cta-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;




// Media
///////////////////////////////////////////////////////////////////////////////

$mobile-width: 500px;
$tablet-width: 800px;
$desktop-narrow-width: 1240px;

$mobile: new-breakpoint(max-width $mobile-width);
$tablet: new-breakpoint(max-width $tablet-width);
$desktop-narrow: new-breakpoint(max-width $desktop-narrow-width);






%hero-text {
  text-shadow: 0 1px 3px transparentize(darken($contrast-color, 40), 0.75);
}

%white-shadow {
  box-shadow: 0 1px 1px white;
}