<div class="footer">
  <div class="container">
    <ul>
      <li>Contact</li>
      <li>Twitter</li>
      <li>Facebook</li>
      <li></li>
    </ul>
    <ul>
      <li>Terms and conditions</li>
      <li>Privacy</li>
      <li></li>
      <li></li>
    </ul>
    <ul>
      <li>© 2013 Calidu AB</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>