<div class="footer">
  <div class="container">
    <ul>
      <li><i class="icon-info"></i><a href="contact.html">Contact and About</a></li>
      <li><i class="icon-twitter"></i><a href="https://twitter.com/skillable">Twitter</a></li>
      <li><i class="icon-facebook-circled"></i><a href="https://www.facebook.com/Skillable">Facebook</a></li>
      <li></li>
    </ul>
    <ul>
      <li><a href="terms.html">Terms and conditions</a></li>
      <li><a href="privacy.html">Privacy</a></li>
    </ul>
    <ul class="brand">
      <li class="logo"><%= partial "logo" %></li>
      <li>© 2013 Skillable AB</li>
    </ul>
  </div>
</div>