<div class="nav">
  <div class="container">
      <a href="index.html"><%= partial "logo" %></a>
      
      <a class="dropdown-menu">
        Login
        <div class="dropdown">
          <button class="button left"><span>with </span>Facebook</button>
          <button class="button right"><span>with </span>LinkedIn</button>
        </div>
      </a>
  </div>
</div>