<div class="logo">  
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 16.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="868.381px" height="164.9px" viewBox="0 0 868.381 164.9" enable-background="new 0 0 868.381 164.9" xml:space="preserve">
  <path d="M31.944,124.301c-5.907,0-11.56-1.004-16.956-3.008c-5.397-2.006-10.392-5.088-14.986-9.244l8.095-9.627
    c3.72,3.209,7.475,5.672,11.268,7.385c3.791,1.713,8.096,2.57,12.908,2.57c4.157,0,7.456-0.875,9.9-2.625
    c2.442-1.752,3.665-4.084,3.665-7.002v-0.219c0-1.385-0.237-2.607-0.713-3.664s-1.354-2.061-2.632-3.01
    c-1.28-0.945-3.036-1.822-5.265-2.625c-2.231-0.801-5.137-1.604-8.72-2.406c-4.095-0.947-7.732-2.023-10.912-3.227
    c-3.181-1.203-5.849-2.662-8.006-4.377c-2.157-1.713-3.803-3.811-4.937-6.289c-1.133-2.479-1.699-5.471-1.699-8.971v-0.219
    c0-3.283,0.649-6.291,1.952-9.025s3.092-5.068,5.371-7.002c2.278-1.932,5.019-3.445,8.222-4.539
    c3.201-1.094,6.698-1.641,10.491-1.641c5.615,0,10.666,0.82,15.151,2.461c4.484,1.641,8.696,4.031,12.635,7.166l-7.22,10.174
    c-3.501-2.553-6.966-4.504-10.393-5.854c-3.429-1.348-6.893-2.023-10.393-2.023c-3.938,0-7.001,0.875-9.189,2.625
    c-2.188,1.75-3.281,3.902-3.281,6.455v0.219c0,1.459,0.254,2.754,0.768,3.883c0.511,1.131,1.442,2.152,2.796,3.062
    c1.353,0.914,3.217,1.77,5.593,2.572s5.393,1.641,9.049,2.516c4.021,1.021,7.586,2.152,10.693,3.391
    c3.107,1.242,5.684,2.754,7.731,4.541c2.047,1.787,3.601,3.865,4.661,6.234c1.06,2.371,1.591,5.125,1.591,8.26v0.219
    c0,3.574-0.67,6.781-2.008,9.627c-1.339,2.844-3.202,5.25-5.588,7.219c-2.387,1.969-5.255,3.465-8.603,4.486
    C39.635,123.789,35.955,124.301,31.944,124.301z"/>
  <path d="M100.122,46.631h13.346v38.506l36.428-38.506h16.519l-31.833,32.928l33.256,43.648h-16.3l-26.146-34.459L113.468,101v22.207
    h-13.346V46.631z"/>
  <path d="M206.75,46.631h13.346v76.576H206.75V46.631z"/>
  <path d="M723.392,0h4.795v164.9h-4.795V0z"/>
  <path d="M266.638,46.631h13.346v64.434h40.257v12.143h-53.603V46.631z"/>
  <path d="M351.447,46.631h13.346v64.434h40.256v12.143h-53.602V46.631z"/>
  <path d="M462.612,46.084h12.473l33.693,77.123h-14.223l-7.766-18.488h-36.211l-7.875,18.488H428.92L462.612,46.084z M481.866,92.795
    l-13.236-30.631l-13.127,30.631H481.866z"/>
  <path d="M537.65,46.631h34.287c8.807,0,15.469,2.262,19.982,6.783c3.42,3.428,5.131,7.656,5.131,12.689v0.219
    c0,2.334-0.307,4.395-0.922,6.18c-0.615,1.789-1.41,3.355-2.387,4.705c-0.979,1.35-2.135,2.533-3.473,3.555
    c-1.34,1.021-2.695,1.896-4.068,2.625c2.246,0.805,4.293,1.734,6.143,2.791s3.445,2.314,4.787,3.773
    c1.34,1.459,2.373,3.172,3.098,5.141s1.09,4.268,1.09,6.893v0.219c0,3.428-0.674,6.453-2.021,9.08
    c-1.346,2.625-3.258,4.812-5.732,6.562s-5.461,3.082-8.955,3.994c-3.496,0.912-7.355,1.367-11.576,1.367H537.65V46.631z
     M569.312,78.902c4.361,0,7.85-0.857,10.467-2.57s3.926-4.322,3.926-7.822v-0.219c0-3.062-1.145-5.451-3.436-7.166
    c-2.291-1.713-5.615-2.57-9.975-2.57h-19.299v20.348H569.312z M573.246,111.283c4.582,0,8.182-0.875,10.799-2.627
    c2.617-1.75,3.928-4.375,3.928-7.875v-0.219c0-3.283-1.293-5.814-3.875-7.604c-2.58-1.785-6.525-2.68-11.832-2.68h-21.27v21.004
    H573.246z"/>
  <path d="M637.714,46.631h13.346v64.434h40.258v12.143h-53.604V46.631z"/>
  <g><rect x="735.166" y="77.564" width="40.773" height="13.943"/></g>
  <g><rect x="735.166" y="109.264" width="73.242" height="13.943"/></g>
  <g><rect x="735.166" y="46.631" width="50.195" height="13.943"/></g>
  <g><path d="M831.132,15.489h-7.104v-3.648h18.176v3.648H835.1v18.752h-3.968V15.489z"/>
    <path d="M846.365,11.841h4.192l6.815,10.592l6.816-10.592h4.192v22.4h-3.904V18.177l-7.072,10.56h-0.128l-7.008-10.496v16h-3.904
      V11.841z"/>
  </g>
  </svg>
</div>
  
  
  
  