---
title: Skillable | Contact
---

<div class="container">
<h1>Terms and Conditions</h1>
  <div class="text-block">
    <div class="column">
    <h3>Mission</h3>
      <p>
      Our mission is to maximise people potentials and to help talents and employers building a longer, happier and more fruitful working relationship.
      </p>
      <h3>Description</h3>
      <p>
      Skillable is a new and fun way to discover your skills and areas of improvements through anonymous feedback provided by your trusted network.
      </p>
      
      <h3>General information</h3>
      <p>
      We are currently in a private beta. To receive an invitation, like us here on Facebook and sign up with your email address from the <a href="index.html">home page.</a>
      </p>
    </div>
    
    <div class="column contact-form">
    <h3>Contact Us</h3>
     <form action="">
       <input type="text" placeholder="Your name">
       <input type="text" placeholder="Your email">
       <textarea cols="40" rows="6" type="text" placeholder="Your message"></textarea>
       <button type="submit">Send</button>
     </form> 
    </div>
  </div>
</div>