---
title: Skillable
---

<div class="hero">
  <div class="container">
    <h1><img src="../images/logo.png" alt=""></h1>
    <h2>Grade the people you've worked with &mdash; yourself included, anonymous and free!</h2>
    <h3></h3>
    
    <div class="signup">
      <input type="text" placeholder="Enter email to sign up">
      <!-- <button type="submit">Sign up</button> -->
      <a href="#" type="submit" class="button yellow">
        Sign up
      </a>
    </div>
    
  </div>
</div>





<div class="container">

  <h2>Find out which skills others see in you!</h2>
  
  <p><b>Our mission is to maximise peoples potentials</b> and to help talents and employers build longer, happier and more fruitful working relationships. Skillable is a new and fun way to discover your skills and areas of improvements through anonymous feedback provided by your trusted network.</p>
  
  <div class="bullets">
    <div class="bullet-point">
      <i class="icon-ok"></i>
      <p>Check if you have the right skills for a specific career or a specific job</p>
    </div>
    <div class="bullet-point">
      <i class="icon-thumbs-up"></i>
      <p>Discover what people truly think about their employer</p>
    </div>
    <div class="bullet-point">
      <i class="icon-puzzle"></i>
      <p>Check how well you would fit into any company's culture.</p>
    </div>
    <div class="bullet-point">
      <i class="icon-chat-alt"></i>
      <p>Check if you have the right skills for a specific career or a specific job</p>
    </div>
  </div>

<div class="wrap">
<article>
  <img src="" alt="">
  <h2>Your Core Strength</h2> 
  <p><b>Invite your most trusted connections to rate your abilities.</b> Once you have reached a minimum amount of reviews, we compile the feedback onto a scorecard to let you discover your core strength and areas of improvements.</p>
</article>

<article>
  <img src="" alt="">
  <h2>Employer Branding</h2> 
  <p><b>Rate your Employer and find out what other people think about theirs.</b> Find out the main reasons specific Companies are popular or impopular to work with. Learn about companies' cultural diversity, gender or age distribution, and much more!</p>
</article>  

<article>
  <img src="" alt="">
  <h2>Satisfaction Score & Cultural Fit</h2>
  <p>Knowing how happy people with a similar profile are to work for a specific Company can help you understand how you would fit within that company’s culture. Check it out!</p>
</article>

<article>
  <img src="" alt="">
  <h2>Careers and Job Requirements</h2> 
  <p>Search for a specific career or Job to discover if you have the right skills for it, what would it take to get there or what you should improve to get there faster and that position you really want.</p>
</article>
</div>

</div>


