---
title: Skillable
---

<!-- ////////////////// -->

  <div class="hero">
    <div class="container">
      <h2>Find out which skills others see in you</h2>
      <hr>
      <h3>Discover your skills and areas of improvements through anonymous feedback provided by your trusted network.</h3>
    </div>
  </div>

<div class="signup">
    <input type="text" placeholder="Enter email to sign up">
  <button href="#" type="submit" class="button">
    Sign up
  </button>
</div>

<!-- ////////////////// -->

<div class="container main">

  <h2 class="intro-heading">Sign up for an invitation, <span>Skillable is free to use!</span></h2>
  

  
  <div class="bullets">
  
    <div class="bullet-point">
    <div class="icon">
      <div class="icon-container">
        <span><i class="icon-chart-bar"></i></span>
      </div>
      </div>
      <h3>Your Core Strength</h3> 
      <p><b>Invite your most trusted connections</b> to rate your abilities. Once you have reached a minimum amount of reviews, we compile the feedback onto a scorecard to let you discover your core strength and areas of improvements.</p>
    </div>
    
    <div class="bullet-point">
    <div class="icon">
      <div class="icon-container">
        <i class="icon-puzzle"></i>
      </div>
      </div>
  <h3>Right skills for the Job</h3> 
    <p><b>Search for any career</b> or job and find out if you have what it takes to get there. By comparing your own capabilities with the requirements of your dream job, we show you what you should improve to speed up your next career move.</p>
    </div>
    
    <div class="bullet-point">
    <div class="icon">
    <div class="icon-container">
      <i class="icon-megaphone"></i>
      </div>
      </div>
      <h3>Employer Branding</h3> 
        <p><b>Rate your Employer</b> and find out what other people think about theirs. Find out the main reasons specific Companies are popular or impopular to work with. Learn about companies' cultural diversity, gender or age distribution, and much more!</p>
    </div>
    
    <div class="bullet-point">
    <div class="icon">
    <div class="icon-container">
      <i class="icon-child"></i>
      </div>
      </div>
    <h3>Happiness & Cultural Fit</h3>
    <p><b>Filter your company searches</b> to discover which company culture best matches your profile. Cultural fit is a crucial element for a satisfying career, because, at the end of the day, if you are not happy you your employer, you will look for alternatives.</p>
    </div>
    
  </div>


</div>


