---
title: Skillable | Privacy
---

<div class="container">
<h1>Privacy</h1>
  <div class="text-block">
    <div class="column">
      <h3>Introduction</h3>
      <p>We are dedicated to create a web site that is easy to use and is respectful of the users’ and their connections’ privacy.
      All personal information gathered in this website is statistically elaborated and is not shared with anyone unless an explicit consent is granted by the owner of those information.
      The following statement outlines the policies by which Skillable.com collects, manages, and uses the data provided to us.
      Use of Skillable.com indicates you have read these policies and agree to abide by them.</p>
      
      <h3>Personal data</h3>
      <p>Used for statistical purposes and in a statistical way only. There is no way to relate a profile to a name, unless explicit consent is provided. The default setting for sharing personal information is ALWAYS set as NOT-SHARING unless the user alters own settings. If personal data sharing is required (to fulfill a specific service), Skillable.com will prompt the user notifying who wants to retrieve its personal data. The user will need to actively agree to share information with the specific requestor. Once shared, the personal information will return to the not-sharing status and any further sharing action will need to be performed when prompted at each request.</p>
      
      <h3>Feedback data</h3>
      <p>Used for statistical purposes and in a statistical way only. Always STRICTLY ANONYMOUS. There is no way by which a user can check if a review has been provided, who has provided a review and when the review has been provided, by looking at the data provided. The status of anonymity of the feedback can only be changed by who has provided that feedback, when prompted or by altering own settings. If you feel that any action is not performed according to our privacy standards, please contact us.</p>
    </div>
    
    <div class="column">
      <h3>Information collection</h3>
      <p>
      Personal information might be required to access any part of our public sections. If you choose to withhold personal information where it might be expressly required, we may not be able to:
      Grant you access to certain sections of the site;
      Send you information that you may have requested;
      Contact you. If you choose to join Skillable.com by completing the registration form, our database will contain the information you provide. This registration form requires basic information including contact information.</p>
      <h3>Use of collected information</h3>
      <p>
      We store only a minimum amount of information, enough to ensure that any data stored in your file can be retrieved by you alone.
      Aggregated statistics are collected regularly, including, but not limited to, the number of users during a specific period, the number of pages viewed and the amount of time spent on pages, what page has been viewed etc.
      We might choose to publish this information, which will never identify a single user, but as a cluster.
      The Skillable.com team will not divulge any data whatsoever for direct marketing purposes.
      The Skillable.com team will have access to subscriber email addresses, users ID and other personal Information, and can modify and/or delete information as needed to maintain the integrity of the user database. Information such as user IP address (the internet address of your computer), internet service provider (ISP), web browser, operating system, approximate time of use, referring site, and any similar data exchanged between a user’s computer and the servers of Skillable.com is collected and might be tied to a particular user account. This information is accessible only to the system administrators within the Skillable.com team and is not used.</p>
    </div>

    <div class="column">
      <h3>Length of data storage</h3>
      <p>Skillable.com keeps data for a maximum period of 3 years from latest user login, after which the link between user name / ID and its personal data is broken. This link might be retrievable and restored by the system administrators.</p>
      
      <h3>Links</h3>
      <p>This site may provide links to other sites. Privacy policies on these sites may differ from those of Skillable.com, and we advise that you review the other site’s policies before providing personal information. While every care has been taken to ensure the high quality and standard of sites to which we link, Skillable.com can take no responsibility for the content of these sites.</p>
      
      <h3>Site security</h3>
      <p>The Skillable.com team has implemented and continues to maintain appropriate technical and management measures to keep any personal information secure and safe from loss, damage, corruption, or deletion.</p>
      
      <h3>Changes within this privacy policy</h3>
      <p>Any and all changes to this privacy policy will be posted here as soon as these changes take effect.
      If you have any questions or concerns about this privacy policy, at any time, please contact us.
      </p>
    </div>
  </div>
</div>