---
title: Skillable | Terms and Conditions
---

<div class="container">
  <h1>Terms and Conditions</h1>
  <div class="text-block">
    <div class="column">
      <p>All content provided within this platform is based on statistical data and might be incomplete, inaccurate or contain errors.
      The website, content and services (including, but not limited to, suggestions and advises) are therefore for informational usage only and should not be relied upon for personal, legal, financial or medical decision. The user should seek local qualified advice if embarking on any actions that could carry personal or organizational liabilities. All content and services within the website are provided free of charge only for personal non-commercial use or educational purposes.</p> 
    </div>
    
    <div class="column">
      <p>Any other use, including any indirect commercial use such as, without limitation, instructing prospective job candidates to take our test and provide results to the hiring organization as part of their recruitment process, is strictly prohibited.
      We strive to minimize all inaccuracies and errors, and to provide the most statistically accurate information possible.
      If you have any questions or concerns about this privacy policy, at any time, please <a href="contact.html">contact us.</a></p>
    </div>
  </div>
</div>